@media (min-width: $mobile) {
    .contact--page {
        label {
            display: block;
            width: 100%;
        }

        .btn-primary {
            background-color: $main-green;
            font-size: 20px;
            width:100%;
            border: 1px solid $main-green;
        }

        .btn-primary:hover {
            background-color: $dark-green;
            font-size: 20px;
        }       
    }
}