body {
    font-family: 'Special Elite', cursive;
}

@media (min-width: $mobile) {
    body {
        background-color: $body;
        color: $white;
        p, li {
            font-size: 15px;
        }
        a {
            color: $main-green;
            text-shadow: 1px 1px $darkest-green;
        }

        a:hover {
            color: $highlight-green;
        }
    }
    .main--navbar {
        background-color: $dark-green;
        a {
            color: $white;
            font-size: 15px;
        }
        a:hover {
            color: $main-green;
            background-color: $darkest-green !important;
        }
    }
    .main--container {
        p {
            font-size: 15px;
        }
        .main--title {
            text-align: center;
        }
        .main--stories,
        .main--media,
        .main--why,
        .main--peers {
            .main--stories-header,
            .main--why-header,
            .main--media-header,
            .main--peers-header {
                text-align: center
            }
        }

        .main--why {
            .content--image {
               overflow: hidden;
               height: 150px;
               margin-bottom: 10px;
            }
        }

        .main--media {
            .content--box {
                width: 100%;
            }
            .content--title {
                text-align: center;
            }
        }

            .content--box {
                .content--image {
                    // margin-bottom: 20px;
                    .img-responsive {
                        min-width: 100%;
                        padding-bottom: 20px;
                    }
                }
            }

            .content--single {
                .content--title {
                    text-align: center;
                }

                .img-responsive {
                    padding-bottom: 20px;
                    min-width: 100%;
                }
            }
        }

        .ph--slider {
            img {
                width: 100%;
            }
            .ph--slider-overlay {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.68);
                position: absolute;
                z-index: 1;

            }
            .carousel-caption {
                h1 {
                    font-size: 25px;
                }

                p {
                    font-size: 15px;
                }
            }
        }
    }


    .main--footer {
        background-color: $dark;
        color: $white;
        text-align: center;

        .footer--menu li{
            display: inline;
            margin-left: 5px;
            margin-right: 5px;
            font-size: 15px;
        }

        .footer--menu {
            padding-top: 10px;
            -webkit-padding-start: 0;
        }

        .footer--menu a:hover{
            color:  white;
            text-decoration: none;
        }
    }
    
.main--copyright {
    background-color: $darkest-green;
    color: $white;
    text-shadow: 1px 1px $black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}  


@media (min-width: $medium) {
    .main--container {
        .main--stories {
            .content--box {
                  // min-height: 493px;
                  height:   620px;
                .content--image  {
                    .img-responsive {
                        padding-bottom: 20px;
                    }
                }

            }
        }   
    }
}

@media (min-width: $large) {
    .main--container {
        .main--stories {
            .content--box {
                  height: auto;
                  margin-bottom: 30px;
                .content--image  {
                    .img-responsive {
                        padding-bottom: 20px;
                        max-height: 300px;
                    }
                }

            }
        }

        .main--why {
            .content--box {
                width: 100%;
                .content--image {
                    height: 500px;
                }
            }
        }   
    }
}

@media (min-width: $mobile-l) {
    .ph--slider {
        .carousel-caption {
            bottom: 25%;
            h1 {
                font-size: 40px;
            }

            p {
                font-size: 15px;
            }
        }
    }
}


@media (min-width: $laptop-l) {
    .ph--slider {
        .carousel-caption {
            h1 {
                font-size: 70px !important;
            }

            p {
                font-size: 40px !important;
            }
        }
    }
}

@media (min-width: $fullhd) {
    .ph--slider {
        .carousel-caption {
            h1 {
                font-size: 150px !important;
            }

            p {
                font-size: 90px !important;
            }
        }
    }
}