@media (min-width: $mobile) {
    .page--comments {
        label {
            display: block;
        }

        input,
        textarea {
            color:  $dark-green;
        }

        .form-submit {
            input {
                background-color: $main-green;
                border-radius:  5px;
                border: 1px solid $dark-green;
                color:  $white;
            }
            input:hover {
                background-color: $dark-green;
            }
        }
    }
}