$main-blue: #659db7;
$dark-blue: #508caa;
$darker-blue: #2e5a6f;
$white: #fff;
$dark: #2a2a2a;
$darker: #121212;
$body: #1f1e1e;
$black: #000000;
$main-green: #40a97d;
$dark-green: #1e7752;
$darkest-green: #004626;
$highlight-green: #00ff94;

$mobile: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$medium: 992px;
$large: 1200px;
$laptop-l: 1440px;
$fullhd: 2560px;